azure-cosmos==4.9.0
azure-identity==1.19.0
azure-monitor-opentelemetry==1.6.4
azure-monitor-opentelemetry-exporter==1.0.0b33
flask[async]==3.1.0
python-dotenv==1.0.1
semantic_kernel==1.20.0
openai==1.60.2
pandas==2.2.3
azure-ai-evaluation==1.2.0
transformers[torch]==4.40.2
seaborn==0.13.2
matplotlib==3.5.0
numpy==1.26.4